<!DOCTYPE HTML>
<html>
		<body style="text-align: center; margin: 0;padding: 0;border: none">
				<table style="width: 100%; max-width: 580px; margin: 0 auto; border-radius: 4px; box-shadow: 0 2px 2px rgba(0,0,0,0.16);text-align:center;font-family:Segoe UI, Arial, Helvetica, sans-serif; border-spacing: 0; color: #2C2C39; margin: 0 auto; background: #ffffff">
					<tr>
						<td>
							<table style="width: 100%; ">
								<tr><td colspan="3" style="height: 60px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 30px; font-weight: 900; line-height: 25px;">
								<img style="display: block; margin: 0 auto; width: 172px" src="<%= template_logo %>" alt="ALLDOORS ONLINE" title="ALLDOORS ONLINE"/>
								<span style="color: #7367f0;padding-left: 3px">ALLDOORS ONLINE</span>
							</td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 60px"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 20px; font-weight: bold; line-height: 26px;"><%= title %></td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 30px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 16px; line-height: 24px;"><%= text %></td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 0px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0;">
							</td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 0px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 16px; line-height: 24px"><%= end_text %></td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 60px"></td></tr>
							</table>
						</td>
					</tr>
						
				</table>
		</body>
</html>